* {
    padding: 0;
    margin: 0;
}

.sec-header {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 10px;

}

.sec-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    

}

.sec-gallery img {
    margin-top: 10px;
    height: 200px;
    width: 300px;
    
}

.sec-gallery img:hover {
    border: 5px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px black;
}